<div class="grid grid-cols-5 grid-rows-1 flex w-full">
    <app-rooms class="h-screen"></app-rooms>
    <div class=" flex flex flex-col justify-between w-full  col-span-4 bg-slate-100 h-5/6"> 
        <div class="relative">
            <chat-main-nav user="{{currentUser.name}}">
                <chat-avatar [avatar]="recipientAvatar" [ngClass]="'p-4'"></chat-avatar>
            </chat-main-nav>
            <div class="bg-red-100 p-4">
                @for(message of messages; track message;) {
                    @if(message.message) {
                        @if(message.id == currentUser.id) {
                            <chat-bubble 
                                message="{{message.message}}" 
                                messagetime="{{message.createdAt | date:'hh:mm'}}" 
                                chatDirection="{{'chat-end'}}"
                                bubbleBackground="bg-green-500"
                                bubbleForeground="text-slate-900"
                            />
                        }
                        @else {
                            <chat-bubble 
                                message="{{message.message}}" 
                                messagetime="{{message.createdAt | date:'hh:mm'}}" 
                                chatDirection="{{'chat-start'}}" 
                            />
                        }    
                    }
                }
                @if(typing) {
                    <chat-dots></chat-dots>
                }    
            </div>
            
        </div>
        <div class="w-full flex my-4 p-4 border-solid border-t-2 border-50-100">
            <input ngModel #messageinput type="text" placeholder="Type here" 
            class="input bg-slate-100 w-5/6 border-solid border-2 border-gray-400 focus:ring-green-400" 
            (input)="onTyping($event)" 
            (focusout)="onFocusOut()" 
            (keydown.enter)="onSendEnter($event)"
            />
            <button class="btn bg-brandgreen-500 text-slate-100 ml-2" (click)="sendMessage($event)"><i class="fa-solid fa-paper-plane"></i></button>
        </div>
    </div>
    
</div>

